a, abbr, acronym, address, applet, article, aside,
audio, b, big, blockquote, body, canvas, caption,
center, cite, code, dd, del, details, dfn, div, dl, dt,
em, embed, fieldset, figcaption, figure, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe,
img, ins, kbd, label, legend, li, mark, menu, nav, object,
ol, output, p, pre, q, ruby, s, samp, section, small, span,
strike, strong, sub, summary, sup, table, tbody, td, tfoot,
th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: 0;
}

body {
  background-color: black;
  font-family: 'Press Start 2P';
  text-shadow: 1px 1px 1px #000000;
  /*font-family: 'Bungee', cursive;*/
  /*font-family: 'Bungee Shade', cursive;*/
  color: white;
}

.main-frame {
  width: 880px;
  height: 650px;
  margin: 35px auto;
  display: flex;
  flex-direction: row;
}

.mario-jump-frame {
  width: 400px;
  height: 570px;
  margin: 40px;
}

.mario-jump-frame > figure {
  width: 335px;
  height: 500px;
  background-image: url("../images/frame.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 30px;
  z-index: 10;
  position: relative;
}

#mario-jump-canvas {
  width: 325px;
  height: 490px;
  z-index: 0;
  position: relative;
  left: 35px;
  top: -526px;
  /*border: 1px solid black;*/
  background-color: #5D94FB;
  color: white;
  font-family: 'Press Start 2P';
  font-size: 20pt;
}

.information-frame {
  margin: 35px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 10pt;
  line-height: 2;
}

.information-frame > div > h2 {
  font-size: 12pt;
  line-height: 3;
  margin-left: -20px;
}

.how-to-play-frame {
  display: flex;
  flex-direction: column;
}
.how-to-play-frame > div> div{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}
.how-to-play-frame > div> div > div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80px;
  padding: 0;
  margin: 0;
}
.how-to-play-frame > div > div > div > img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: inline-block;
}
.button-mute-frame > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.button-mute-frame > div > img {
  cursor: pointer;
  margin: 5px 0;
  display: inline-block;
}
.button-mute-frame > div > p {
  margin-left: -20px;
}
#button-mute {
  width: 30px;
  height: 25px;
}
#button-unmute {
  width: 30px;
  height: 25px;
  position: relative;
  left: -29px;
  top: 0px;
  visibility: hidden;
}
.developer-info-frame > a > img{
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 5px 0;
}

.images {
  display: none;
}
.images > img {
  width: 20px;
  height: 20px;
}
#img-mario-jump-right {
  width: 30px;
  height: 30px;
}
#img-mario-jump-left {
  width: 30px;
  height: 30px;
}
#img-cloud-1 {
  width: 30px;
  height: 20px;
}
#img-cloud-2 {
  width: 55px;
  height: 20px;
}
#img-cloud-3 {
  width: 75px;
  height: 20px;
}

#game-default-page {
  width: 325px;
  height: 490px;
  z-index: 1;
  position: relative;
  left: 35px;
  top: -1015px;
  display: flex;
}
#press-enter-key {
  width: 80%;
  margin: 150px auto;
  text-align: center;
  font-size: 25pt;
  color: white;
  font-family: 'Bungee Shade', cursive;
  /*font-family: 'Press Start 2P';*/
  /*font-family: 'Bungee', cursive;*/
}
#game-score-page {
  margin-left: 0;
  width: 325px;
  height: 70px;
  z-index: -1;
  position: relative;
  left: 35px;
  top: -1505px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: 'Press Start 2P';
}

.game-score{
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: center;
}

.game-score > h3 {
  margin-bottom: 5px;
}

.game-mushroom {
  display: flex;
  flex-direction: row;
  margin: 10px;
  text-align: center;
  align-items: center;
}

.game-mushroom > img {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.game-mute {
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: center;
}
.game-mute > h3 {
  margin-bottom: 5px;
}

#game-over-page {
  width: 325px;
  height: 490px;
  z-index: -1;
  position: relative;
  left: 35px;
  top: -1575px;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Bungee Shade', cursive;
  text-align: center;
}

#game-over-page > h1 {
  width: 80%;
  margin: 120px auto;
  margin-bottom: 0;
  font-size: 40pt;
}
#game-over-page > h3 {
  width: 80%;
  margin: 30px auto;
  font-size: 17pt;
}
